@model ViewUserProfileViewModel

<a asp-controller="Buyer" asp-action="Index">Home</a>
<br>
<br>
User name: @Model.CurrentBuyer.UserName
<br>
NickName: @Model.CurrentBuyer.NickName
<br>
Country: @Model.CurrentBuyer.Country
<br>
Region: @Model.CurrentBuyer.Region
<br>
Company name: @Model.CurrentBuyer.CompanyName
<br>
Company address: @Model.CurrentBuyer.CompanyAddr
