@model ViewRecruitViewModel

<script type="text/javascript">
    window.onload = function IsCurrentDevInvolvedCheck()
    {
        if ('@(Model.CurrentDevIsLeader)' === '@true')
        {
            document.getElementById('isLeader').style.display = 'block';
            document.getElementById('notLeader').style.display = 'none';
        }
        else
        {
            document.getElementById('notLeader').style.display = 'block';
            document.getElementById('isLeader').style.display = 'none';
        }
    }
</script>

<nav class="navbar  navbar-light bg-light">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" asp-controller="Dev" asp-action="Index">Home</a></li>
            @if (Model.CurrentDevIsLeader)
            {
                <li class="nav-item"><a class="nav-link" asp-controller="Recruit" asp-action="EditRecruit" asp-route-id="@Model.RecruitId">Edit</a></li>
            }
        </ul>
    </div>
</nav>

<div class="col-md-8 mt-4">
    <p class="font-weight-normal" style="color:deepskyblue">
        Project - "@Model.MyProj.ProjName" is looking for a @Model.NameOfTheRole as a team member.<br>
        Candidates should have at least @Model.MinCredit credit and should not be working on more than @Model.MaxNumPrjWkOn projects at the moment.
    </p>
    <p class="font-weight-normal" style="color:deepskyblue">
        @Model.RoleDescription
    </p>
    <p class="font-weight-normal" style="color:deepskyblue">
        @Model.RequirDescript
    </p>
    <p class="font-weight-normal" style="color:deepskyblue">
        Opened on @Model.DateCreated.ToString("dd/MM/yyy")
    </p>
    <hr>
    <div id="isLeader" style="display:none">
        <p class="font-weight-normal" style="color:deepskyblue">
            @if (Model.Candidates.Any())
            {
                <font>The following candidates have applied for this role:</font><br>
                @foreach (var Dev in Model.Candidates)
                {
                    <a asp-controller="Recruit" asp-action="Accept" asp-route-id="@Model.RecruitId" asp-route-projId="@Model.MyProj.ProjectId" asp-route-devId="@Dev.Id" style="color:green">Accept</a>
                    <a asp-controller="Dev" asp-action="ViewDevProfile" asp-route-id="@Dev.Id" class="ml-4">@Dev.NickName</a>
                }
            }
            else
            {<font> no candidates for far </font>}
        </p>
    </div>
    <div id="notLeader" style="display:none">
        @if (!Model.CurrentDevIsInvolved)
        {
            if (Model.CurrentDevHasApplied)
            {
                <a asp-controller="Recruit" asp-action="Withdraw" asp-route-id="@Model.RecruitId">
                    <input type="button" value="Withdraw" class="btn btn-primary m-2" />
                </a>
            }
            else if (@Model.CurrentDevIsEligibleToApply)
            {
                <a asp-controller="Recruit" asp-action="Apply" asp-route-id="@Model.RecruitId">
                    <input type="button" value="Apply" class="btn btn-info m-2" />
                </a>
            }
            else
            {
                <p class="font-weight-normal" style="color:deepskyblue">
                    this role may not suit you
                </p>
            }
        }
    </div>
</div>


