@model ViewRecruitViewModel

<script type="text/javascript">
    window.onload = function IsCurrentDevInvolvedCheck()
    {
        if ('@(Model.CurrentDevIsLeader)' === '@true')
        {
            document.getElementById('isLeader').style.display = 'block';
            document.getElementById('notLeader').style.display = 'none';
        }
        else
        {
            document.getElementById('notLeader').style.display = 'block';
            document.getElementById('isLeader').style.display = 'none';
        }
    }
</script>

<a asp-controller="Dev" asp-action="Index">Home</a>
@if (Model.CurrentDevIsLeader)
{
    <font>&nbsp;|</font>
    <a asp-controller="Recruit" asp-action="EditRecruit" asp-route-id="@Model.RecruitId">Edit</a>
}
<br>
<br>
Project - "@Model.MyProj.ProjName" is looking for a @Model.NameOfTheRole as a team member
<br>
@Model.RoleDescription
<br>
@Model.RequirDescript
<br>
The ideal team member should have at least @Model.MinCredit credit and should not be working on more than @Model.MaxNumPrjWkOn projects at the moment.
<br>
This recruitment was opened on @Model.DateCreated.ToString("dd/MM/yyy")
<br>
<br>
<div id="isLeader" style="display:none">
    @if (Model.Candidates.Any())
    {<font>The following candidates have applied for this role:</font>}
    else
    {<font>no candidates for far</font>}

    <br>
    @foreach (var Dev in Model.Candidates)
    {
        <a asp-controller="Recruit" asp-action="Accept" asp-route-id="@Model.RecruitId" asp-route-projId="@Model.MyProj.ProjectId" asp-route-devId="@Dev.Id">Accept</a>
        <font>&nbsp;&nbsp;&nbsp;&nbsp;</font>
        <a asp-controller="Dev" asp-action="ViewDevProfile" asp-route-id="@Dev.Id">@Dev.NickName</a>        
        <br>
    }
</div>
<br>

<div id="notLeader" style="display:none">
    @if (!Model.CurrentDevIsInvolved)
    {
        if (Model.CurrentDevHasApplied)
        {
            <font>Applied</font>
        }
        else
        {
            <form asp-controller="Recruit" asp-action="Apply" asp-route-id="@Model.RecruitId" method="post" role="form">
                <div>
                    <input type="submit" name="apply" value="Apply"/>
                </div>
            </form>
        }
    }
</div>
