@model SearchRecruitViewModel
<a asp-controller="Project" asp-action="Index" asp-route-id="@ViewBag.ProjId">Back to Project</a>
<br>
<br>
Open recruitments are:
<br>
<table>
    @foreach (var recruit in Model.Recruits)
    {
        if (recruit.IsOpen == true)
        {
            <tr>
                <td>
                    <a asp-controller="Recruit" asp-action="Index" asp-route-id="@recruit.RecruitmentId">@recruit.NameOfTheRole</a>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a asp-controller="Recruit" asp-action="RemoveRecruit" asp-route-id="@recruit.RecruitmentId" asp-route-ProjId="@recruit.MyProj.ProjectId">delete</a>
                </td>

            </tr>
        }
    }
</table>