@model SearchRecruitViewModel

<a asp-controller="Dev" asp-action="Index">Home</a>&nbsp;|
<a asp-controller="Recruit" asp-action="SearchRecruit">Recently opened</a>
<br>
<br>
<form asp-controller="Recruit" asp-action="SearchRecruit" method="post" role="form">
    <div>
        Search vacancies with key words:
        <input asp-for="KeyWords" />
        <input type="submit" value="Search" />
    </div>
</form>
<br>
<table>
    <tr>
        <th>Role name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>started on&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>Project name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>Min credit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>Max projects on&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    </tr>

    @foreach (var recruit in Model.Recruits)
    {
        if (recruit.IsOpen == true)
        {
            <tr>
                <td>
                    <a asp-controller="Recruit" asp-action="Index" asp-route-id="@recruit.RecruitmentId">@recruit.NameOfTheRole</a>
                </td>

                <td>
                    @recruit.DateCreated.ToString("dd/MM/yyy")
                </td>

                <td>
                    <a asp-controller="Project" asp-action="Index" asp-route-id="@recruit.MyProj.ProjectId">@recruit.MyProj.ProjName</a>
                </td>

                <td>
                    @recruit.MinCredit.ToString()
                </td>

                <td>
                    @recruit.MaxNumPrjWkOn.ToString()
                </td>
            </tr>
        }
    }
</table>
