@model ProjectDevViewModel

<h1>This is project @Model.ProjName</h1>
<h3>@Model.BriefDescript</h3>
<br>
<h3>We currently have @Model.Capacity developers working on it</h3>
<br>
<h3>This project was started on @Model.ProjStartingDate and the projected complete date is @Model.ProtdCompDate. We have completed @Model.Progress% of it</h3>
<br>
<h3>Our developers are </h3>
<table>
    @foreach (var Dev in Model.MyDevs)
    {
        <tr><td>@Dev.NickName</td></tr>
    }
</table>
<br>
<h3>Our project leader is @Model.ProjLeader.NickName</h3>
<br>
<h3>Our work repository is @Model.RepoLink</h3>
<br>
<h3>
    <a asp-controller="DevHome" asp-action="Index" asp-route-id="home">Home</a>
</h3>


