@model ProjectDevViewModel

<script type="text/javascript">
    window.onload = function IsCurrentDevInvolvedCheck()
    {
        if ('@(Model.IsCurrentDevInvolved)' === '@true')
        {
            document.getElementById('involved1').style.display = 'block';
            document.getElementById('involved2').style.display = 'block';
            document.getElementById('notInvolved1').style.display = 'none';
            document.getElementById('notInvolved2').style.display = 'none';
        }
        else {
            document.getElementById('notInvolved1').style.display = 'block';
            document.getElementById('notInvolved2').style.display = 'block';
            document.getElementById('involved1').style.display = 'none';
            document.getElementById('involved2').style.display = 'none';
        }
    }
</script>

@if(!Model.IsCurrentDevInvolved) { <p>current dev is not involved</p>}

<a asp-controller="Dev" asp-action="Index">Home</a> &nbsp;|
<a asp-controller="Project" asp-action="UpdateProject" asp-route-id="@Model.projId">Update project</a>

<h1>Project @Model.ProjName</h1>
@Model.BriefDescript
<br>
We currently have @Model.Capacity developers working on it
<br>
This project was started on @Model.ProjStartingDate.ToString("dd/MM/yyy") and we have completed @Model.Progress%. The complete date is @Model.ProtdCompDate.ToString("dd/MM/yyy").
This project is currently
@switch (Model.Status)
{
    case ProjStatus.Aborted:
        <font>Abort</font>
        break;

    case ProjStatus.Completed:
        <font>Complelted</font>
        break;

    case ProjStatus.Preparing:
        <font>Preparing</font>
        break;

    case ProjStatus.Recruiting:
        <font>Recruiting</font>
        break;

    case ProjStatus.Suspended:
        <font>Suspended</font>
        break;

    case ProjStatus.Transaction_Processing:
        <font>Transaction Processing</font>
        break;

    case ProjStatus.Under_Development:
        <font>Under Development</font>
        break;

    case ProjStatus.Under_Negotiation:
        <font>Under Negotiation</font>
        break;
}

<br>
This project is evaluated at $@Model.Valuation.
<br>
Developers are:
@foreach (var Dev in Model.MyDevs)
{
    <a asp-controller="Dev" asp-action="ViewDevProfile" asp-route-id="@Dev.Id">@Dev.NickName&nbsp;</a>
}
<br>
Project leader is
<a asp-controller="Dev" asp-action="ViewDevProfile" asp-route-id="@Model.ProjLeader.Id">@Model.ProjLeader.NickName&nbsp;</a>
<br>
Our work repository is @Model.RepoLink
<br>
<font id="notInvolved1" style="display:none">@Model.FullDescript</font>
<br>
<form asp-controller="Project" asp-action="Like" method="post" role="form">
    <input type="submit" value="Like" id="notInvolved2" style="display:none"/>
</form>
