@model ProjectDevViewModel

<a asp-controller="DevHome" asp-action="Index">Home</a>

<h1>Project @Model.ProjName</h1>
@Model.BriefDescript
<br>
We currently have @Model.Capacity developers working on it
<br>
This project was started on @Model.ProjStartingDate.ToString("dd/MM/yyy") and we have completed @Model.Progress%. The projected complete date is @Model.ProtdCompDate.ToString("dd/MM/yyy").
<br>
Developers are:
@foreach (var Dev in Model.MyDevs)
{
    <font>@Dev.NickName&nbsp;</font>
}
<br>
Project leader is @Model.ProjLeader.NickName
<br>
Our work repository is @Model.RepoLink
<br>





