@model NegoViewModel

<script src="~/Javascript/signalr-client-1.0.0-alpha2-final.min.js"></script>
<script>
    var userId = '@Model.CurrentUser.Id';
    var projId = '@Model.ProjId';
    var buyerId = '@Model.BuyerId'
    var groupName_interConver = projId;
    var groupName_negoConver = projId + '-' + buyerId;
    var userNickName = '@Model.CurrentUser.NickName';
</script>

<nav class="navbar  navbar-light bg-light">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" asp-controller="Project" asp-action="TalkToBuyers" asp-route-projId="@Model.ProjId">Back</a></li>
        </ul>
    </div>
</nav>

<div class="col-md-8 mt-4">
    <p class="font-weight-normal" style="color:deepskyblue">Talking to the investor</p>
    @Html.Partial("_Conversation", @Model.PreviousNegoConver)
</div>
<script src="~/Javascript/SingalR_NegoConver.js"></script>
