@model NegoViewModel

<script src="~/Javascript/signalr-client-1.0.0-alpha2-final.min.js"></script>
<script>
    var userId = '@Model.CurrentUser.Id';
    var projId = '@Model.ProjId';
    var buyerId = '@Model.BuyerId'
    var groupName_interConver = projId;
    var groupName_negoConver = projId + '-' + buyerId;
    var userNickName = '@Model.CurrentUser.NickName';
</script>

<a asp-controller="Project" asp-action="TalkToBuyers" asp-route-projId="@Model.ProjId">Back</a>
<br>
<br>
<font>Talk to the investor</font>
@Html.Partial("_Conversation", @Model.PreviousNegoConver)
<script src="~/Javascript/SingalR_NegoConver.js"></script>
