@model SearchProjectsViewModel

@if (@Model.CurrentUser.Role == UserRole.Dev)
{<a asp-controller="Dev" asp-action="Index">Home</a>}
else
{<a asp-controller="Buyer" asp-action="Index">Home</a>}
&nbsp;|
<a asp-controller="Project" asp-action="SearchProjects">Recently opened</a>
<br>
<br>
<form asp-controller="Project" asp-action="SearchProjects" method="post" role="form">
    <div>
        <label asp-for="SortBy"></label>
        <div>
            <select asp-for="SortBy">
                <option value=@ProjSearchCriteria.ByOpenDate>OpenDate</option>
                <option value=@ProjSearchCriteria.ByPopularity>Popularity</option>
                <option value=@ProjSearchCriteria.ByProgress>Progress</option>
                <option value=@ProjSearchCriteria.ByValuation>Valuation</option>
            </select>
        </div>
    </div>
    <br>
    <div>
        <label asp-for="StatusFilter"></label>
        <div>
            <select asp-for="StatusFilter">
                <option value=@ProjSearchCriteria.OpenOnly>Open Only</option>
                <option value=@ProjSearchCriteria.All>All</option>
                <option value=@ProjSearchCriteria.CompletedOnly>Completed Only</option>
                <option value=@ProjSearchCriteria.OpenInclSusp>Open Include Suspended</option>
                <option value=@ProjSearchCriteria.AllInclSusp>All Include Suspended</option>
            </select>
        </div>
    </div>
    <br>
    <div>
        Search projects with key words: 
        <input asp-for="KeyWords"/>
        <input type="submit" value="Search"/>
    </div>
</form>
<br>
<table>
    <tr>
        <th>Project Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>Starting Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>Valuation&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>Status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>Progress&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    </tr>
    @foreach (var proj in Model.Projects)
    {
        <tr>
            <td>
                <a asp-controller="Project" asp-action="Index" asp-route-id="@proj.ProjectId">@proj.ProjName</a>
            </td>

            <td>
                @proj.StartingDate.ToString("dd/MM/yyy")
            </td>

            <td>
                @proj.Valuation
            </td>

            @switch (proj.Status)
            {
                case ProjStatus.Aborted:
                    <td>
                        Abort
                    </td>
                    break;

                case ProjStatus.Completed:
                    <td>
                        Complelted
                    </td>
                    break;

                case ProjStatus.Preparing:
                    <td>
                        Preparing
                    </td>
                    break;

                case ProjStatus.Recruiting:
                    <td>
                        Recruiting
                    </td>
                    break;

                case ProjStatus.Suspended:
                    <td>
                        Suspended
                    </td>
                    break;

                case ProjStatus.Transaction_Processing:
                    <td>
                        Transaction Processing
                    </td>
                    break;

                case ProjStatus.Under_Development:
                    <td>
                        Under Development
                    </td>
                    break;

                case ProjStatus.Under_Negotiation:
                    <td>
                        Under Negotiation
                    </td>
                    break;
            }
            <td>
                @proj.Progress%
            </td>
        </tr>
    }
</table>
