@model NegoViewModel

<a asp-controller="Project" asp-action="Index" asp-route-id="@Model.ProjId">Back to Project</a>
<br>
<br>
<table>
    @foreach (var buyer in Model.Buyers)
    {
        var companyName = buyer.CompanyName ?? "unknow organisation";
        <tr>
            <td>
                <a asp-controller="Project" asp-action="NegoWithBuyer" asp-route-buyerId="@buyer.Id"
                   asp-route-projId="@Model.ProjId">@buyer.NickName from @companyName</a>
            </td>
        </tr>
    }
</table>

