@model UserHomeViewModel

<nav class="navbar  navbar-light bg-light">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" asp-controller="Project" asp-action="CreateProject">Create a project</a></li>
            <li class="nav-item"><a class="nav-link" asp-controller="Project" asp-action="SearchProjects">Recently opened projects</a></li>
            <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="EditUserProfile">My profile</a></li>
            <li class="nav-item"><a class="nav-link" asp-controller="Recruit" asp-action="SearchRecruit">Job vacancies</a></li>
            @if (Model.IHaveReviews)
            {
                <li class="nav-item"><a class="nav-link" asp-controller="Dev" asp-action="ViewReviews" asp-route-id="@Model.MyUserId">My reviews</a></li>
            }
        </ul>
    </div>
</nav>

@if (Model.MyInvolvedProjects.Count != 0)
{
    <p class="h3 mt-4" style="color:deepskyblue">My on-going projects</p>
    <div class="row form-group">
        @foreach (var proj in Model.MyInvolvedProjects)
        {
            if (!(proj.ProjStatus == ProjStatus.Development_Completed || proj.ProjStatus == ProjStatus.Aborted))
            {
                <div class="col-md-3">
                    <div class="card" style="width: 12rem;">
                        <a asp-controller="Project" asp-action="Index" asp-route-id="@proj.ProjectId">
                            <img class="card-img-top" src="~/Images/project.png" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">@proj.ProjName</h6>
                                <p class="card-text">progress: @proj.Progress%</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
}

@if (Model.MyLeadingProjects.Count != 0)
{
    <p class="h3 mt-5" style="color:deepskyblue">My leading projects</p>
    <div class="row form-group">
        @foreach (var proj in Model.MyLeadingProjects)
        {
            if (!(proj.ProjStatus == ProjStatus.Development_Completed || proj.ProjStatus == ProjStatus.Aborted))
            {
                <div class="col-md-3">
                    <div class="card" style="width: 12rem;">
                        <a asp-controller="Project" asp-action="Index" asp-route-id="@proj.ProjectId">
                            <img class="card-img-top" src="~/Images/project.png" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">@proj.ProjName</h6>
                                <p class="card-text">progress: @proj.Progress%</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
}

@if (Model.MyFollowingProjects.Count != 0)
{
    <p class="h3 mt-5" style="color:deepskyblue">Projects that I am following</p>
    <div class="row form-group">
        @foreach (var proj in Model.MyFollowingProjects)
        {
            <div class="col-md-3">
                <div class="card" style="width: 12rem;">
                    <a asp-controller="Project" asp-action="Index" asp-route-id="@proj.ProjectId">
                        <img class="card-img-top" src="~/Images/project.png" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title">@proj.ProjName</h6>
                            <p class="card-text">progress: @proj.Progress%</p>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
}

@if (Model.MyAppliedRoles.Count != 0)
{
    <p class="h3 mt-5" style="color:deepskyblue">My applied roles</p>
    <div class="row form-group">
        @foreach (var recruit in Model.MyAppliedRoles)
        {
            if (recruit.IsOpen)
            {
                <div class="col-md-3">
                    <div class="card" style="width: 12rem;">
                        <a asp-controller="Recruit" asp-action="Index" asp-route-id="@recruit.RecruitmentId">
                            <img class="card-img-top" src="~/Images/jobOpportunity.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">@recruit.NameOfTheRole</h6>
                                <p class="card-text">@recruit.MyProj.ProjName</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
}

@if (Model.MyCompletedProjects.Count != 0)
{
    <p class="h3 mt-5" style="color:deepskyblue">My completed projects</p>
    <div class="row form-group">
        @foreach (var proj in Model.MyCompletedProjects)
        {
            <div class="col-md-3">
                <div class="card" style="width: 12rem;">
                    <a asp-controller="Project" asp-action="Index" asp-route-id="@proj.ProjectId">
                        <img class="card-img-top" src="~/Images/project.png" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title">@proj.ProjName</h6>
                            <p class="card-text">progress: @proj.Progress%</p>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
}

@if (Model.MyTradedProjects.Count != 0)
{
    <p class="h3 mt-5" style="color:deepskyblue">My traded projects</p>
    <div class="row form-group">
        @foreach (var proj in Model.MyTradedProjects)
        {
            <div class="col-md-3">
                <div class="card" style="width: 12rem;">
                    <a asp-controller="Project" asp-action="Index" asp-route-id="@proj.ProjectId">
                        <img class="card-img-top" src="~/Images/project.png" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title">@proj.ProjName</h6>
                            <p class="card-text">progress: @proj.Progress%</p>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
}

@if (Model.MyAbortedProjects.Count != 0)
{
    <p class="h3 mt-5" style="color:deepskyblue">My aborted projects</p>
    <div class="row form-group">
        @foreach (var proj in Model.MyAbortedProjects)
        {
            <div class="col-md-3">
                <div class="card" style="width: 12rem;">
                    <a asp-controller="Project" asp-action="Index" asp-route-id="@proj.ProjectId">
                        <img class="card-img-top" src="~/Images/project.png" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title">@proj.ProjName</h6>
                            <p class="card-text">progress: @proj.Progress%</p>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
}









