@model UserHomeViewModel

<h2>This is developer Home page</h2>
<a asp-controller="Project" asp-action="CreateProject">Create a project</a> &nbsp;|
<a asp-controller="Project" asp-action="SearchProjects">Recently opened projects</a> &nbsp;|
<a asp-controller="Account" asp-action="EditUserProfile">Edit profile</a> &nbsp;|
<a asp-controller="Recruit" asp-action="SearchRecruit">Job vacancies</a>
@if (Model.IHaveReviews)
{
    <a asp-controller="Dev" asp-action="ViewReviews" asp-route-id="@Model.MyUserId"> |My reviews</a>
}

<br>
@if (Model.MyInvolvedProjects.Count != 0)
{
    <h3>My working projects</h3>
    <table>
        @foreach (var proj in Model.MyInvolvedProjects)
        {
            if (!(proj.ProjStatus == ProjStatus.Development_Completed || proj.ProjStatus == ProjStatus.Aborted))
            {
                <tr>
                    <td>
                        <a asp-controller="Project" asp-action="Index" asp-route-id="@proj.ProjectId">@proj.ProjName</a>
                    </td>
                </tr>
            }
        }
    </table>
}

@if (Model.MyLeadingProjects.Count != 0)
{
    <br>
    <h3>My leading projects</h3>
    <table>
        @foreach (var proj in Model.MyLeadingProjects)
        {
            if (!(proj.ProjStatus == ProjStatus.Development_Completed || proj.ProjStatus == ProjStatus.Aborted))
            {
                <tr>
                    <td>
                        <a asp-controller="Project" asp-action="Index" asp-route-id="@proj.ProjectId">@proj.ProjName</a>
                    </td>
                </tr>
            }
        }
    </table>
}

@if (Model.MyFollowingProjects.Count != 0)
{
    <br>
    <h3>Projects that I follow</h3>
    <table>
        @foreach (var proj in Model.MyFollowingProjects)
        {
            <tr>
                <td>
                    <a asp-controller="Project" asp-action="Index" asp-route-id="@proj.ProjectId">@proj.ProjName</a>
                </td>
            </tr>
        }
    </table>
}
@if (Model.MyAppliedRoles.Count != 0)
{
    <br>
    <h3>My applied roles</h3>
    <table>
        @foreach (var recruit in Model.MyAppliedRoles)
        {
            if (recruit.IsOpen)
            {
                <tr>
                    <td>
                        <a asp-controller="Recruit" asp-action="Index" asp-route-id="@recruit.RecruitmentId">@recruit.NameOfTheRole</a>
                    </td>
                </tr>
            }
        }
    </table>
}

@if (Model.MyCompletedProjects.Count != 0)
{
    <br>
    <h3>My completed projects</h3>
    <table>
        @foreach (var proj in Model.MyCompletedProjects)
        {
            <tr>
                <td>
                    <a asp-controller="Project" asp-action="Index" asp-route-id="@proj.ProjectId">@proj.ProjName</a>
                </td>
            </tr>
        }
    </table>
}

@if (Model.MyEndors.Count != 0)
{
    <br>
    <h3>My endorsments</h3>
    <table>
        @foreach (var endors in Model.MyEndors)
        {
            <tr><td>@endors.Subject</td></tr>
        }
    </table>
}









