@model ViewDevProfileViewModel

<a asp-controller="Dev" asp-action="Index">Home</a>
<br>
<br>
User name: @Model.UserName
<br>
NickName: @Model.NickName,
<br>
Country: @Model.Country,
<br>
Region: @Model.Region,
<br>
Self introduction:  @Model.SelfIntro,
<br>
Linkedin profile = @Model.LinkedinUrl,
<br>
Number of project working on = @Model.NumProjWrkOn
<br>
Credit = @Model.Credit