@model ViewUserProfileViewModel

<a asp-controller="Dev" asp-action="Index">Home</a>
<br>
<br>
User name: @Model.ViewingDev.UserName
<br>
NickName: @Model.ViewingDev.NickName
<br>
Country: @Model.ViewingDev.Country
<br>
Region: @Model.ViewingDev.Region
<br>
Self introduction:  @Model.ViewingDev.SelfIntro
<br>
Number of project working on = @Model.NumProjWrkOn
<br>   
@if (@Model.Credit == 0)
{
    <font>Credit = 0</font>
}
else
{
    <font>Credit =</font>
    <a asp-controller="Dev" asp-action="ViewReviews" asp-route-id="@Model.ViewingDev.Id">@Model.Credit</a>
}
<br>
<br>
<br>
@if (Model.ProjsWithIfDevIsRated != null && Model.ViewingDev != Model.CurrentDev)
{
    <table>
        @foreach (var projwithrate in Model.ProjsWithIfDevIsRated)
        {
            <tr>
                @if (!projwithrate.CurrentDevHasRatedThisDev)
                    {<td><a asp-controller="Dev" asp-action="Rate" asp-route-RevieweeId="@Model.ViewingDev.Id" asp-route-ProjId="@projwithrate.Proj.ProjectId">rate</a></td>}
                else
                    {<td>rated</td>}
                
                <td> @Model.ViewingDev.NickName on project - @projwithrate.Proj.ProjName</td>
            </tr>
        }
    </table>

}