@model ViewUserProfileViewModel

<a asp-controller="Dev" asp-action="Index">Home</a>
<br>
<br>
User name: @Model.CurrentDev.UserName
<br>
NickName: @Model.CurrentDev.NickName
<br>
Country: @Model.CurrentDev.Country
<br>
Region: @Model.CurrentDev.Region
<br>
Self introduction:  @Model.CurrentDev.SelfIntro
<br>
Linkedin profile = @Model.LinkedinUrl
<br>
Number of project working on = @Model.NumProjWrkOn
<br>
Credit = @Model.Credit